* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
}
body {
    background-color: #FFFEED;
}
header {
    background-color:indigo;
    color: #FFFEED;
    width: 100%;
    max-height: 100px;
    padding: 15px 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}
header div{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}
nav a {
    color: #FFFEED;
    text-decoration: none;
}
.carrusel {
    width: 80%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.carrusel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.carrusel li {
    width: 100%;
    list-style: none;
    position: relative;
}
.carrusel img {
    width: 100%;
    height: auto;
}
@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}
@media(max-width: 991px) {
    body {
        padding: 50px;
    }
    .carrusel {
        width: 100%
    }
}