header {
    background-color:indigo;
    color: white;
    font-family: "DM Serif Text", serif;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}
header div{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    font-family: "DM Serif Text", serif;
}
nav a {
    color: white;
    text-decoration: none;
}